<div class="center hero-unit">
  <h1>Welcome to the Fin App</h1>

  <h2>
    This is application for your personal finance accounting.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>